body {
    color: #1F3C6F;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 2rem 1.5rem;
}

.line-break {
  width: 100%;
}

section.header {
  align-items: baseline;
  border-bottom: 2px solid #1F3C6F;
  flex-wrap: wrap;
  display: flex;
  position: relative;
  width: 100%;
}

  .header h1,
  .header div {
    flex-grow: 1;
  }

  .header h1,
  input,
  select,
  option {
    color: #1F3C6F;
    font-size: 2.6rem;
    font-weight: 300;
  }

  .header h1 {
    text-transform: uppercase;
    width: auto;
  }

  input,
  input:active,
  input:focus,
  select {
    border: none;
    border-bottom: 1px solid #1F3C6F;
    font-family: inherit;
    margin-top: 2px;
    outline: none;
    width: auto;
  }

.header h1 {
    color: #1F3C6F;
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
}

input {
  padding-bottom: 2px;
  padding-top: 2px;
}

.header form {
    border-bottom: 1px solid #1F3C6F;

}

select {
  background: white;
  border: none;
  margin-top: -2px !important;
  padding-left: 1rem;
}

.header form:before {
  content: "stav k";
}

h2 {
  display: none;
  font-weight: 300;
}

ul.cadastre-area-autocomplete {
  border-bottom: 1px solid #1F3C6F;
  list-style: none;
  padding-left: 0px;
}

  ul.cadastre-area-autocomplete li {
    cursor: pointer;
    padding-bottom: 8px;
    padding-top: 8px;
  }

.chart {
  display: flex;
}

.chart section,
.line-chart {
  flex: 1 0 auto; /* 33 % */
}

.line-chart,
.line-chart section {
  display: flex;
}

.line-chart {
  flex-wrap: wrap;
  margin-top: 2rem;
  visibility: hidden;
}

section.line-chart-header {
  align-items: center;
  border-top: 1px solid #C7C7CD;
  justify-content: center;
  margin-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
}

.line-chart h2 {
  width: 35%;
}

.line-chart form {
  border-bottom: 1px solid #1F3C6F;
}

.line-chart select,
.line-chart option {
  font-size: 1.5rem;
}

.chart div {
    background-color: steelblue;
    color: #1F3C6F;
    font-size: .8rem;
    font-weight: 400;
    margin: 3px;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: right;
    white-space: nowrap;
    }

.chart svg {
  width: 400px;
}


.line-chart {
  width: 100%;
}

  .line-chart svg {
    padding-left: 60px;
  }

.legend svg {
  border-right: 1px solid #1F3C6F;
  margin-right: 5px;
  width: 120px;
}

  .legend h2 {
    visibility: hidden;
  }

  svg text {
    fill: #1F3C6F;
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    font-weight: 300;
  }

path.domain,
.tick line {
  stroke: #1F3C6F;
}

circle,
path {
  cursor: pointer;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: center;
  -moz-transform-origin: center;
  -ms-transform-origin: center;
  -o-transform-origin: center;
  transform-origin: center;
  -webkit-transition: fill, -webkit-transform
  -moz-transition: fill, -webkit-transform
  -ms-transition: fill, -webkit-transform
  -o-transition: fill, -webkit-transform
  transition: fill, -webkit-transform
  -webkit-transition-duration: .25;
  -moz-transition-duration: .25;
  -ms-transition-duration: .25;
  -o-transition-duration: .25;
  transition-duration: .25;
}

circle:hover{
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition: fill, -webkit-transform
  -moz-transition: fill, -webkit-transform
  -ms-transition: fill, -webkit-transform
  -o-transition: fill, -webkit-transform
  transition: fill, -webkit-transform
  -moz-transition-duration: .25;
  -ms-transition-duration: .25;
  -o-transition-duration: .25;
  transition-duration: .25;
}
